body {
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
}

.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    cursor: pointer;
}

.topnav a:hover {
    color:rgb(175, 168, 179);
}

img {
    border-radius: 50px;
    padding: 25px;
    position: -50px;
    display: inline-block;
    flex-wrap: wrap;
}

.container {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 29px;
    right: 25px;
    width: 115px;
    background-color: rgb(15, 15, 15);
    color: rgb(255, 254, 254);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;    
}

.text-block-1 {
    position: absolute;
    bottom: 29px;
    right: 25px;
    width: 150px;
    background-color: rgb(15, 15, 15);
    color: rgb(255, 254, 254);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;  
}

@media screen and (max-width: 992px) {
    .container {
        width: 50%;
    }
    header {
        background: rgb(63, 10, 10);
    }  
}
    
@media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    header {
      background: #8ac4ff;
    }
  }
